.portfolio-list {
    margin-left: auto;
    margin-right: auto;
    }

.portfolio-list__works{    
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    }

.portfolio-list__work-item{
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
    }
    
.portfolio-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    }

.portfolio-buttons__item:not(:last-child) {
     margin-right: 8px;
    }
     
.portfolio-buttons__btn{
    @extend .button;
    padding: 6px 22px;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em; 
    color: var(--main-dark-color);  
    background: var(--backgr-color-section);
    box-shadow: none;
        
    &:hover,
    &:focus {
        color: var(--main-light-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}

.portfolio-list__link{
    display: block;
    
    &:hover, 
    &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.portfolio-list__description{
    padding: 20px 24px;   
    border-bottom: 1px solid var(--border-img-color);
    border-left: 1px solid var(--border-img-color);
    border-right: 1px solid var(--border-img-color);
    }
    
.portfolio-list__title{
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-dark-color);  
    }

.portfolio-list__category{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-medium-color);   
    }
    
.portfolio-list__img-wrapper{
    position: relative;
    overflow: hidden;
    }

.overlay-portfolio{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand-color-opacity);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-light-color);
    padding: 63px 24px;
    overflow: auto;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    
    .portfolio-list__link:hover &,
    .portfolio-list__link:focus &{
        transform: translateY(0%);    
        }
    }