.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--backgr-modal);
    transition-property: visibility, opacity;
    transition-duration: 250ms;
    transition-timing-function: linear;

    &.is-hidden{
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--main-light-color);
    border-radius: 4px;
    padding: 40px;
}

.modal-close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus .modal-close-icon,
.modal-close-btn:hover .modal-close-icon {
    fill: var(--brand-color);
}

.title-modal{
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--main-dark-color); 
    display: inline-block; 
    margin-bottom: 12px;
}

.contact-form-label{
display: block;
margin-bottom: 4px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: var(--main-medium-color);
}

.contact-form-field{
display: block;
margin-bottom: 10px;
}

.contact-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0 0 0 42px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
    outline: none;
    border-color: var(--brand-color);
    }
}

.contact-form-icon-wrapper{
 display: block;
 position: relative;
 margin-bottom: 4px;
}
.contact-form-icon{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form-input:hover + &,
    .contact-form-input:focus + & {
        fill: var(--brand-color);
    }
}

.contact-form-comment{
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
       outline: none;
       border-color: var(--brand-color);
    }
    
    &::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}


.contact-form-checkbox-label{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-medium-color);

    &::before {
       content: '';
       display: inline-block;
       width: 16px;
       height: 15px;
       border: 2px solid var(--main-dark-color);
       border-radius: 2px;
       cursor: pointer;
       margin-right: 10px;

        .contact-form-checkbox:checked + & {
           background-image: url('../images/icon-check.svg');
           border: none;
        }
       
        .contact-form-checkbox:focus + & {
           outline: 3px solid var(--main-dark-color);
        }
    }
}

.contact-form-wrapper{
    margin-bottom: 30px;
    margin-left: 14px;
}

.accept-policy-link{
    color: var(--brand-color);
}

.btn-modal{
    @extend .button;
    padding: 10px 55px;
    display: block; 
    margin: 0 auto;
}